@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
}

@media screen and (min-width: 600px) {
  body{
    padding: 3rem 7rem;
  }
  .desktop-row{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem;
  }
}
